.checkout-index-index {
    .nav-sections {
        display:block;
    }

    .checkout-shipping-method {
        display: none;
    }
    .opc {
        display: flex;
        gap: 1rem;
        .media-max-width-mobile({
            flex-direction: column
        });
    }

    .checkout-shipping-address {
        max-width: 50%;
        .media-max-width-mobile({
            width: auto;
            max-width: initial;
        });
        .step-title {
            display: none;
        }
    }

    .page-main {
        padding-inline:@main-x-spacing;
        max-width: @max-width;
        margin-inline: auto;
    }

    .page-title-wrapper {
        position: static;
        font-weight: 700;
        font-size: 35px;
        line-height: 35px;
        color: #111010;
        width: auto;
        height: auto;
        margin-top: 41px;
        margin-bottom: 35px
    }

    .authentication-wrapper {
        display: none;
    }

    .opc .checkout-payment-method  {
        width: 50%;
        margin-inline: auto;

        .media-max-width-mobile({
            width: 100%;
            box-shadow: 0px 0px 3px black;
        });

        .step-title{
            display: none;
        }
    }

    .payment-method-form-wrapper {
        @padding:24px;
        .control-paypal, .control-paypalplus, .control-investmentbank {

            .make-box-radio();

            & > label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: @padding; 
                margin-bottom:10px;
            }
        }

        .payment-text {
            margin-right: auto;
            margin-left:15px;
        }

        img {
            border: 1px solid black;
        }

        .control-investmentbank {
            img {
                border: none;
            }
        }

        .bank-content {
            padding: @padding;
            padding-top:0px;
            .control {
                margin: 0 0 20px;
                width: 100%;
                
                input {
                    width:100%;
                    height: auto;
                    border: 1px solid #82828266;
                    padding: 10px 18px;

                    &::placeholder {
                        color:#828282D9;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 18.27px;
                    }
                }

                .date {
                    display: inline-block;
                    width: 40%;
                }

                .cvc {
                    display: inline-block;
                    width: ~"calc(60% - 19px)";
                    margin-left: 15px;
                }
            }
        }
    }

    #checkout-step-shipping  {
        .media-max-width-mobile({
            margin-bottom: 0px;
        });
        
        .label{
            .screen-reader-text();
        }
    }

    #shipping-new-address-form {
        max-width:350px;
        .media-max-width-mobile({
            max-width: initial;
            width: auto;
        });

        div[name="shippingAddress.company"] {
            display: none;
        }
        div[name="shippingAddress.region_id"] {
            display: none;
        }

        div[name="shippingAddress.street.0"] {
            display: inline-block;
            width: 60%;
        }

        div[name="shippingAddress.street.1"] {
            display: inline-block;
            max-width: ~"calc(40% - 9px)";
            margin-top: 0px;
            margin-left: 5px;
        }

        div[name="shippingAddress.postcode"] {
            display: inline-block;
            width: 40%;
        }

        div[name="shippingAddress.city"] {
            display: inline-block;
            width: ~"calc(60% - 9px)";
            margin-top: 0px;
            margin-left: 9px;
        }

        div[name="shippingAddress.telephone"] {
            .control::after {
                content:"*Required field";
                font-weight: 400;
                font-size: 12px;
                line-height: 14.52px;
                color: #828282D9;
                display:block;
                margin-top:5px;
            }
        }
    }

    .field-tooltip .field-tooltip-action {
        display: none;
    }

    .fieldset > .field {
        margin: 0 0 20px;
        width: 100%;

        input[type='email'] {
            width: 100%;
        }
        
        .note {
            display: none !important;
        }
    }

    .fieldset:last-child {
        margin-bottom: 0px;
    }

    .fieldset > .field:not(.choice) > .control {
        width:100%;
        position: relative;
        input {
            width:100%;
            height: auto;
            border: 1px solid #82828266;
            padding: 10px 18px;

            &::placeholder {
                color:#828282D9;
                font-size: 15px;
                font-weight: 400;
                line-height: 18.27px;
            }
        }

        select {
            height: auto;
            border: 1px solid #82828266;
            padding: 10px 18px;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        .chevron-down {
            &::before {
                .icomoon-font-icon(@icon-chevron-down-solid);
                position: absolute;
                right: 24px;
                top: 10px;
                color:#808080;
                pointer-events: none;
            }
        }
    }
    .opc-wrapper  {
        padding: 0px;
        .form-login{
            margin: 0px;
            width: 100%;
            .media-max-width-mobile({
                padding: 0px;
            })
        }
    }

    .checkout-payment-method .payment-methods {
        .media-max-width-mobile({
            margin: 0px;
        })
    }

    .belowShippingFormWrapper {
        width: 350px;
        .media-max-width-mobile({
            width: auto;
        });
        .create-account {
            .input-label-container {
                label {
                    display: flex;
                    align-items: start;
                    gap: 19px;
                    margin-bottom: 19px;

                    input {
                        .make-custom-checkbox();
                    }

                    span {
                        color: #000000;
                        font-weight: 400;
                        font-size: 15px;
                        max-width: 30ch;
                    }
        
                }
            }
          
            p  {
                .flex-center();
                justify-content: start;
                margin-bottom: 25px;
                margin-left: 35px;
                gap: 5px;

                & > span {
                    font-weight: 400;
                    font-size: 10px;
                    color: #828282;
                    line-height: 10px;
                }
            }
        }

        .shipping-different {
            margin-bottom: 17px;

            label {
                display: flex;
                align-items: start;
                gap: 19px;
            }

            #shipping-different-checkbox {
                .make-custom-checkbox();
            }
        }

        .field:not(.create-account,.shipping-different) {
            margin: 0 0 20px;
            width: 100%;

            input {
                width:100%;
                height: auto;
                border: 1px solid #82828266;
                padding: 10px 18px;
    
                &::placeholder {
                    color:#828282D9;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 18.27px;
                }
            }
        }

        .control .field{
            display: inline-block;
        }

        .control {
            .second-post {
                max-width: ~"calc(40% - 13px)";
            }

           .second-location {
                max-width: 60%;
                margin-left: 9px;
            }
        
            .second-street {
                max-width: ~"calc(60% - 13px)";
                
            }

            .second-houses {
                max-width: 40%;
                margin-left: 9px;
            }
        }

        .second-country {
            position: relative;
            select {
                height: auto;
                border: 1px solid #82828266;
                padding: 10px 18px;
                -webkit-appearance: none;
                -moz-appearance: none;
            }
    
            .chevron-down {
                &::before {
                    .icomoon-font-icon(@icon-chevron-down-solid);
                    position: absolute;
                    right: 24px;
                    top: 10px;
                    color:#808080;
                    pointer-events: none;
                }
            }
        }
    }

    .checkout {
        .make-subtitle();

        &__mistermiss {
            .checkout__btn{
               .btn();
               .btn--secondary();
                padding: 13px 20px 14px 21px;
                border: 1px solid black;


                .onhover-active-focus({
                    background-color: #b1afaf;
                    border:1px solid #b1afaf;

                });

                &--active {
                    .btn();
                    .btn--primary();
                    padding: 13px 20px 14px 21px;
                    border: 1px solid black;
                    
                    .onhover-active-focus({
                        background-color: #b1afaf;
                        border:1px solid #b1afaf;
                    });

                }
            }
        }
    }

    .custom-slide {
        .media-max-width-mobile({
            visibility: visible;
            opacity: 1;
            position: static;
        });

         .modal-inner-wrap {
            .media-max-width-mobile({
                transform: translateX(0%);
                box-shadow: 0px 0px 3px black;
            });

            .action-close {
                &::before {
                    content: none;
                }
            }
         }
    }

   

    .opc-block-summary {
        background-color: white;
        padding-left: 0px;

        .media-max-width-mobile({
            padding: 20px;
        });

        & > .title {
            display: none;
        }

        .product-titles {
            display: flex;
            justify-content: space-between;
            margin-bottom: 41px;

            span {
                font-family: "Inter", sans-serif;
                font-weight: 500;
                font-size: 16.94px;
            }
        }

        .block.items-in-cart {
            margin-bottom: 0px;
        }

        .minicart-items-wrapper {
            padding: 0px;
        }

        .product-item-details {
            font-size: 16px;
        }

        .minicart-items .details-qty .value::after {
            content: '\00d7';
        }

        .minicart-items .product-item-details .details-qty {
            margin-top: 0px;
        }

        .product-item-name {
            font-weight: 700;
            &::before {
                content:"Lorem";
                color: #828282D9;
                font-weight: 400;
                display: block;
                margin-block: 5px;
            }

            &::after {
                content: "Ipsum";
                color: #828282D9;
                font-weight: 400;
                display: block;
                margin-block: 5px;
            }
        }

        .minicart-items .details-qty .label::after {
            content: none;
        }

        .totals  {
            .mark {
                padding-bottom: 0px;
                padding-left: 0px;
            }

            .price, .amount {
                padding-bottom: 0px;
            }
        }

        .totals.shipping.excl {
            font-weight: 400;
            font-size: 16.89px;
            color: #828282D9;

            .label {
                padding-block: 10px;
            }

            .mark {
                padding: 0px;
            }
        }

        .summary-coupon {

            p {
                span {
                    color:#828282D9;
                    margin-left: 9px;
                    display: inline-block
                }
            }

            .action-toolbar{
                display: flex;
                gap: 9px;
                margin-top: 22px;
                margin-bottom: 33px;

                input {
                    padding: 15px 40px;
                    height: auto;
                    width: 50%;

                    &::placeholder {
                        color: #828282D9;
                    }
                }

                .btn {
                    .btn();
                    width: 50%;
                    text-transform: capitalize;
                }

                .btn--primary {
                    .btn--primary();

                    .onhover-active-focus({
                        .btn--primary--hover()
                    })
                }
            }
        }
    }

    .btn.btn--place-order {
        .btn();
        .btn--primary();
        width: 100%;
        margin-top: 50px;
        margin-bottom: 14px;

        .onhover-active-focus({
            .btn--primary--hover();
        })
    }

    .terms-conditions-wrapper {
        label{
            font-weight: 400;
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            color: #828282D9;
            display: flex;
            align-items: start;
            gap: 12px;

            input {
                .make-custom-checkbox();
            }

            span {
                margin-bottom: 25px;
            }
        }
    }


    .grand.totals {
        .total-container {
            display: flex;
            justify-content: space-between;
        }

        .amount .price {
            font-weight: 700;
        }

        .vat-container {
            display: flex;
            justify-content: space-between;
            color: #828282D9;
            font-weight: 400;
            font-size: 15px;
            font-family: 'Inter', sans-serif;
            margin-top: 7px;
        }
    }

    .opc-block-shipping-information {
        display: none;
    }

}