<ul>
    <li class="payment-method-form-wrapper">
        <form submit="#">
            <div class="control">
                <label for="paypal">Paypal</label>
                <input type="radio" name="payment" id="paypal"/>
            </div>
            <div class="control">
                <label for="paypalplus">Paypal Plus</label>
                <input type="radio" name="payment" id="paypalplus"/>
            </div>
            <div class="control">
                <label for="investmentbank">Investment Bank</label>
                <input type="radio" name="payment" id="investmentbank"/>
            </div>
        </form>
</li>
</ul>  