<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">
    <div class="step-title" translate="'Shipping Address'" data-role="title"></div>
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">

         <div class="checkout__mistermiss">
            <button type="button" class="checkout__btn checkout__btn--active">Mrs.</button><button type="button" class="checkout__btn">Mr.</button>
        </div>

        <each if="!quoteIsVirtual" args="getRegion('customer-email')" render="" ></each>
        <each args="getRegion('address-list')" render="" ></each>
        <each args="getRegion('address-list-additional-addresses')" render="" ></each>
        
      
        <!-- Address form pop up -->
        <if args="!isFormInline">
            <div class="new-address-popup">
                <button type="button"
                        class="action action-show-popup"
                        click="showFormPopUp"
                        visible="!isNewAddressAdded()">
                    <span translate="'New Address'"></span>
                </button>
            </div>
            <div id="opc-new-shipping-address"
                 visible="isFormPopUpVisible()"
                 render="shippingFormTemplate"></div>
        </if>

        <each args="getRegion('before-form')" render="" ></each>

        <!-- Inline address form -->
        <render if="isFormInline" args="shippingFormTemplate"></render>

        <div class="belowShippingFormWrapper">
            <div class="field create-account">
                <div class="input-label-container">
                    <input type="checkbox" name="create-account-checkbox" id="create-account-checkbox">
                    <label for="create-account-checkbox">Create a customer account now and benefit from many advantages.</label>
                </div>
                <p>
                    <img data-bind="attr: { src: require.toUrl('images/checkout/info.svg') }"  alt="info">
                    <span>The password will be sent to you by email</span>
                </p>
            </div>

            <div class="field shipping-different">
                <input type="checkbox" name="shipping-different-checkbox" id="shipping-different-checkbox">
                <label for="shipping-different-checkbox">Shipping Address is Different</label>
            </div>

            <div class="field second-firstname">
                <input type="text" placeholder="First name*" name="second-firstname"/>
            </div>

            <div class="field second-lastname">
                <input type="text" placeholder="Last name*" name="second-lastname"/>
            </div>

            <div class="control">
                <div class="field second-street">
                    <input type="text" placeholder="Street*" name="second-street"/>
                </div>
                <div class="field second-houses">
                    <input type="text" placeholder="Houses*" name="second-houses"/>
                </div>
            </div>

            <div class="control">
                <div class="field second-post">
                    <input type="text" placeholder="Post Code*" name="second-post"/>
                </div>
                <div class="field second-location">
                    <input type="text" placeholder="Location*" name="second-location"/>
                </div>
            </div>

            <div class="field second-country">
                <select name="second-country">
            </div>
        </div>
    </div>
</li>

<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">
        <div class="step-title"
             translate="'Shipping Methods'"
             data-role="title"></div>

        <each args="getRegion('before-shipping-method-form')" render="" ></each>

        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">
            <form id="co-shipping-method-form"
                  class="form methods-shipping"
                  if="rates().length"
                  submit="setShippingInformation"
                  novalidate="novalidate">

                <render args="shippingMethodListTemplate"></render>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <each args="getRegion('shippingAdditional')" render="" ></each>
                </div>
                <div role="alert"
                     if="errorValidationMessage().length"
                     class="message notice">
                    <span text="errorValidationMessage()"></span>
                </div>
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary">
                            <span translate="'Next'"></span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="no-quotes-block"
                 ifnot="rates().length > 0"
                 translate="'Sorry, no quotes are available for this order at this time'"></div>
        </div>
    </div>
</li>